.wrapper{
    width: 1200px;
}

/* все заголовки по центру, еще задавание 2 классов дает преимущество объединение большого количества текста,
 а в Стилях указываем один класс, как видем здесь и получаем тоже, что и в объединения множества классов */
.title{
    text-align: center;
}

/* задаем шрифт текста.  */
.text_1{
    font-size: 20px;
}

.text_2{
    font-size: 18px;
}

/* курсив */
.text_3{
    font-style: italic;
}

/* делаем его с левой стороны */
.text_4{
    text-align: right;
    font-size: 14px;
}

/* закрасим фон какого то блока */
.text_5{
    background-color: #ccc;
}